name: Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Install demo dependencies
        run: npm ci
        working-directory: demo
      - name: Install Juno CLI
        run: npm i -g @junobuild/cli
      - name: Cache Docker layers for default image
        uses: actions/cache@v3
        with:
          path: /home/runner/.docker
          key: ${{ runner.os }}-docker-default-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-docker-default-
      - name: Run emulator
        run: |
          cd demo
          set -e
          juno emulator start --headless &
          juno emulator wait
          juno login --emulator --mode development --headless
          juno config apply --mode development --headless
      - name: Run default tests
        run: npm run e2e:ci

  may-merge:
    needs: ['tests']
    runs-on: ubuntu-latest
    steps:
      - name: Cleared for merging
        run: echo OK
